<!-- <header>
  <h1>D3</h1>
</header>
<app-bar></app-bar>
<app-pie></app-pie>
<app-scatter></app-scatter>
-->



<div id = "big_container">
  <h1 class = "Pokemon_font">Lab 7: Learn more About Pokemon with Visualizations! Featuring all Pokemon data through MongoDB!</h1>
  <h3>The following charts are a Bar Chart and a Scatter Plot. The Bar Chart represents Pokemon Types and their total heights and the Scatter Plot maps out each Pokemons HP Stats and Defense Stats.</h3>
  <app-bar></app-bar>
  <!-- <app-pie></app-pie> -->
  <app-scatter></app-scatter>
</div>

<router-outlet></router-outlet> 